<html>
    <head>
        <title>Not found Error: 404</title>
        <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link href="~/css/NotFound.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="sign">
	        <span class="sign__word">Ошибка 404</span>
	        <span class="sign__word">Страница не найдена</span>
        </div>
    </body>
<html>