
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet_Header.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/StyleSheetInfoOfUs.css" type="text/css">
</head>
<nav>
    <a asp-controller="Home" asp-action="Index" class="LinkToView"><strong>Меню</strong></a>
    <a asp-controller="Home" asp-action="InfoOfUs" class="LinkToView"><strong>О проекте</strong></a>
    <a asp-controller="Home" asp-action="Purchase" class="LinkToView"><strong>Купить</strong></a>
    <a asp-controller="Home" asp-action="MiniSecretGame" class="LinkToView"><strong>Мини игра</strong></a>
    <div class="Containers"></div>
</nav>