<html>
<head>
    <title>SecretGame</title>
    <link href="~/css/StyleSheetSecretMiniGame.css" rel="stylesheet" />
</head>
<body>
    
    @{await Html.RenderPartialAsync("_Header");}
      <div class="init">
        <div class="center1">
            <h1>Задача!</h1>
            <p>Не дай заводам снести все деревья. Кликай на клетки и засаживай их деревьями</p>
            <p class="floating bold">Начать</p>
        </div>
    </div>
    <div class="won">
        <div class="center">
            <h1>Победа!</h1>
            <p class="floating replay bold">Завершить и сыграть ещё раз</p>
        </div>
    </div>
    <div class="init hidden"><h1 class="center">Повышенная скорость!</h1></div>
    <div class="container">
        <div class="game"></div>
    </div>  
    
    @{await Html.RenderPartialAsync("_Footer");}
    <script src="~/js/SecretMiniGameJS.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
